body {

font-family: "montserrat", sans-serif;
font-weight: 400;
font-style: normal;

margin: auto;

}
main{
    font-family: "montserrat", sans-serif;
font-weight: 400;
font-style: normal;

    margin-left: 20px;
    margin-right: 20px;
}

#left { 
    display: grid;
    grid-template-rows: 80% 20%;

}

header {
display: flex;
padding: 20px 20px;
background-color: black;
justify-content: space-between;
align-items: center;
}

#main-content {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 120%;
}

.resize {
    width: 100%;
    height: 123%;
    position: relative;
    left: 0%; 
    top: 0%;
}
h1{
    text-align: center;
}
.navbar{
    position: absolute; 
    transform:translate(-50%,0);
    left: 50%;
}


.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}
.navbar a{
    font-family: "montserrat", sans-serif;
font-weight: 400;
font-style: normal;
color: yellow;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
   color: white;
}
.navbar li {
    float: left;
}

.logo img{
    max-width: 18%;
}


* {
    box-sizing: border-box;
}

.box {
    font-family: "montserrat", sans-serif;
    border: 2% solid white;
    padding: 20px;
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 85px;
}

.h2 {
    margin-left: 50%;
}

.container { 
    width: 50%;
    margin: auto;
    height: fit-content;
    border: 2px solid white;
}

.box1 { 
    height: 10%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 20px;
    text-align: center;
}
#button { 
font-family: "montserrat", sans-serif;
font-weight: 400;
background-color: black;
color: yellow;
padding: 15%;
margin: 30%;
}
#button:hover {
    color: white;
    background-color: red;
}

.box2 {
    border: 2% solid white;
    padding: 20px;
    height: auto;
    width: 60%;
  margin-left: auto;
  margin-right: auto;
    text-align: center;
    font-size: 85px;
}

.box3 {
    border: 2% solid white;
    padding: 20px;
    height: auto;
    width: 60%;
    margin-left: auto;
  margin-right: auto;
    text-align: center;
    font-size: 85px;
}

.container1 {
    width: 50%;
    margin: auto;
    height: fit-content;
    border: 2px solid white;
}
*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}
body{ 
    background-color: white;
}
.card-container {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card {
width: 325px;
background-color: white;
border-radius: 16px;
overflow: hidden;
box-shadow: 0px 2px 4px rgba (0,0,0,0.2);
}
.card img{
    width: 100%;
    height: auto;
}
.card-content {
padding: 16px;
}
.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    color: black;
    font-size: 15px;
    line-height: 1.3;
}
.card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: black;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: yellow; 
}

.btn:hover{ 
color: white;
background-color: red;
}

.pic { 
    float: left;
    width: 300px;
    height: 500px;
    background-color: black;
    margin: 15px;
    overflow: hidden;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

  .flip-card {
    float: left;
    background-color: transparent;
    width: 300px;
    height: 450px;
    border: 0px solid transparent;
    padding-left: 5%;
    padding-top: 10px;
    align-content: center;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 300px;
    height: 450px;
    text-align: center;
    margin: 7px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 300px;
    height: 450px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: black;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  } 
.titleboxs {
    margin-top: 25%;
}
  .textbox {
    margin-left:25%;
    margin-right: 25%;
    padding-bottom: 20px;
  }

.button3 {
    background-color: yellow;
    font-family: "montserrat", sans-serif;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    margin-top: 16px;
}

.button3:hover {
   background-color: red;
   color: white;
}
